*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    font-family: "Neue Montreal",sans-serif;
}

main{
    width: 100%;
    height: 100%;
    gap:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.box{
    height: 200px;
    width: 400px;
    /*background-color: rgb(215, 214, 214);
    box-shadow: inset 5px 5px 10px rgb(12, 12, 12);
    */
    /* Makes a cool white and black metal effect */
    /*
    background:conic-gradient(from 180deg, rgb(255, 255, 255), rgb(0, 0, 0), red, yellow);
    */
    background-color: #fff;
    transition: all .5s ease-in-out;
    animation: anim 2s alternate infinite;
}

@keyframes anim {
    from{
        background:conic-gradient(from 0deg,
         rgb(255, 255, 255), rgb(0, 0, 0));
        border-radius: 0px;
    }
    to{
       background-color: red;
       background:conic-gradient(from 0deg,
        rgb(255, 255, 255), rgb(0, 0, 0), red, yellow);
       border-radius: 50px;
    }
}

h1{
    display: none;
    font-size: 3rem;
    color:whitesmoke;
    text-shadow: 5px 5px 1px rgb(255, 0, 8);
}

h2{
    color:rgb(165, 1, 165);
    font-size: 2rem;
}
